#login_form {

    position: absolute;
	left : 998px;
	top  : 235px;
    font-size: 16px;
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}

#nav {
    line-height:40px;
    background-color:#A39999;
    height:500px;
    width:150px;
    float:left;
    padding:5px;	      
}

#f1 {
    background-color: #D6EAF1;
    border-style: solid;
    border-width: 1px;
}
.f1_label {
    white-space: nowrap;
}
#campus {

  position: absolute;
  left : 998px;
  top  : 430px;
  font-size: 16px;
}

#section {
	position: absolute;
	left: 180px;
	top:  175px;
	font-size: 16px;
}

#educational {
	position: absolute;
	left: 350px;
	top:  300px;
	font-size: 16px;
}

#footer{

    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
}

.tfheader{
		background-color:#FFFFFF;
	
        
	}
	
#tfnewsearch{
		float:right;
		padding:20px;
	
	}
	
#emailsearch{
		padding:20px;
	
	}
#tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	
.tfbutton {
		margin: 0;
		height:25px;
		width: 100px;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #FFFFFF;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
.tfbuttonhover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}

.tfbutton:-moz-focus-inner {
	  border: 0;
}
.tfclear{
		clear:both;
	}
	
	
body {
    font-family:Verdana,sans-serif;font-size:0.8em;
}

#header,#content,#post {
    border:1px solid grey;
    margin:10px;margin-bottom:50px;padding:20px;
    background-color:white;
}

div#header,div#footer {
    color:white;background-color:#444;margin-bottom:5px;
}

div#content {
    background-color:#ddd;
}

#footer1{
    border:1px solid grey;
    margin:10px;margin-bottom:50px;padding:20px;
    background-color:gray;
}

#content
)
 border:1px solid grey;
    margin:10px;margin-bottom:50px;padding:20px;
    background-color:white;
}

div#menu ul  {
    margin:0;padding:0;
}

div#menu ul li {
    display:inline; margin:5px;
}
#header1 {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav1 {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section1 {
    width:350px;
    float:centre;
    padding:10px;	 	 
}

#footer1 {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer1 {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer1 {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}   
 #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer1 {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer1 {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer1 {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
#nav {
    line-height:30px;
    background-color:#A39999;
    height:520px;
    width:150px;
    float:left;
    padding:5px;	      
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer1 {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}

#section12{
    width:140px;
    float:right;
    padding:262px;

}
#section123{
    width:200px;
    float:left;
    padding:150px;

}

#section01{
    height:300px;
    width:200px;
    float:left;
    padding:150px;
	

}
p.one {
    border-style: dotted solid;
    border-color: red;
    width: 200px;
	float:left;
}

p.two {
    
    border-style: dotted solid;
    border-color: #98bf21;
    width:200px;
	float:left;

} 
p.three {
    border-style: dotted solid;
    border-color: #98bf21;
    width:200px;
	float:left;
} 
 
p.four {
    border-style: dotted solid;
    border-color: #98bf21;
    width:200px;
	float:right;
	
} 

p.five {
    border-style: dotted solid;
    border-color: red;
    width:200px;
	float:left;
	z-index -1;
} 




pc{
position: absolute;
float:left;
padding:100px;
width: 20px;


}
.notice {
float: left;
margin: 5px;
padding: 15px;
width: 300px;
height: 300px;
border: 1px solid black;
} 

#div1 {width:290px;height:70px;padding:10px;border:1px solid #aaaaaa;}
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}

#section4{
    position:centre;
    width:200px;
    float:right;
    padding:90px;

}

image1 {
    background-image: url("accom.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
}
body {
    font-family:Verdana,sans-serif;font-size:0.8em;
}
div#header,div#footer,div#content,div#post {
    border:1px solid grey;
    margin:5px;margin-bottom:15px;padding:8px;
    background-color:white;
}
div#header,div#footer {
    color:white;background-color:#444;margin-bottom:5px;
}
div#content {
    background-color:#ddd;
}
div#menu ul  {
    margin:0;padding:0;
}
div#menu ul li {
    display:inline; margin:5px;
}

<script> 
var myVideo = document.getElementById("video1"); 

function playPause() { 
    if (myVideo.paused) 
        myVideo.play(); 
    else 
        myVideo.pause(); 
} 

function makeBig() { 
    myVideo.width = 560; 
} 

function makeSmall() { 
    myVideo.width = 320; 
} 

function makeNormal() { 
    myVideo.width = 420; 
} 
</script> 













